.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  .error-text {
    background-color: #dc3545;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    .close {
      background-color: #ffffff;
      color: #dc3545;
      border: none;
      border-radius: 5px;
    }
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
}